<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div class="container-devise">
  <div class="container">
    <%= render partial: "links" %>
    <div class="row">
      <div class="col-xs-12">
        <h2><%= current_user.first_name%>'s values of <%= @date.strftime("%b %d, %Y")%></h2>
        
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <div class="perf-graph">
          <%= content_tag :div, "", id: "line_chart", data: {section:@chart_data}, class: "chart" %>
        </div>
        
      </div>
    </div>
    <hr>

    <h2>Tableau de vérification pour les admins</h2>

    <table class="table table-striped perf-graph">
      <thead>
        <tr>
          <th>SYMBOL</th>
          <th>ASK</th>
          <th>BID</th>
          <th>CLOSE</th>
          <th>COEF</th>
          <th>((B+A)/2 - C)*Coef</th>
        </tr>
      </thead>
      <tbody>
      <% total = 0 %>
      <% @symbols_array.each do |symbol| %>
        <% ask = Quote.where(symbol: symbol).last.ask %>
        <% bid = Quote.where(symbol: symbol).last.bid %>
        <% close = Quote.where(symbol: symbol).last.close %>
        <% coefficient = Coefficient.where(symbol: symbol).where(expired: true).last.value %>
        <td><%= symbol %></td>
        <td><%= ask %></td>
        <td><%= bid %></td>
        <td><%= close %></td>
        <td><%= coefficient %></td>
        <td><%= (coefficient * ((bid+ask)/2 - close)).round(2)%></td>
        </tr>
        <% total += (coefficient * ((bid+ask)/2 - close)) %>
      <% end %>
      </tbody>
    </table>
    <h3>PERF GLOBALE : <%= total.round(2) %></h3>

    <hr>

    <div class="row">
      <div class="col-xs-12">
        <div class="perf-graph">
          <%= content_tag :div, "", id: "spy_chart", data: {section:@quotes_array}, class: "chart" %>
        </div>
        
      </div>
    </div>


    <hr>
    
    <table class="table table-striped perf-graph">
      <thead>
      <tr>
        <th><%= @market_moment%></th>
        <th>TODAY</th>
        <th></th>
        <th>TOMORROW</th>
      </tr>
        <tr>
          <th>Symbol</th>
          <th>Coefficient</th>
          <th># shares</th>
          <th>Coefficient</th>
          <th># shares</th>
          <th>Delta</th>
        </tr>
      </thead>
      <tbody>
      <% @table_array.each do |row| %>

          <td><%= row[:symbol] %></td>
          <td><%= row[:today_coef].round(2)%></td>
          <td><%= row[:nbr_shares_today].round%></td>
          <td class= "<%= @new_coef_class %>"><%= row[:tomorrow_coef].round(2)%></td>
          <td class= "<%= @new_coef_class %>"><%= row[:nbr_shares_tomorrow].round%></td>
          <% if row[:delta] == 0 %>
            <td> - </td>
          <% else %>
            <td class = "<%= row[:delta] > 0 ? 'success' : 'danger' %>"><%= row[:delta].round(2) %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  
</div>


<script>

	var array = [];

  var data = $('#line_chart').data('section');

  for (i in data) {
  	array.push(data[i].value)
  };


    $(document).ready(function() {
        barChart();

    });



    function barChart() {


      Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'spy_chart',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: $('#spy_chart').data('section'),
      // The name of the data record attribute that contains x-values.
      xkey: 'time',
      // A list of names of data record attributes that contain y-values.
      ykeys: ["vxx_ask", "vxx_bid", "vxz_ask", "vxz_bid", "xiv_ask", "xiv_bid", "ziv_ask", "ziv_bid"],

      resize: true,

      parseTime: false,

      // behaveLikeLine: true,

      fillOpacity: 0.2,

      goals: [0],

      goalStrokeWidth: 3,

      lineColors: ['#55b0d6'],

      labels: ["vxx_ask", "vxx_bid", "vxz_ask", "vxz_bid", "xiv_ask", "xiv_bid", "ziv_ask", "ziv_bid"]
    });







    	Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'line_chart',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: $('#line_chart').data('section'),
      // The name of the data record attribute that contains x-values.
      xkey: 'time',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value'],

      resize: true,

      parseTime: false,

      // behaveLikeLine: true,

      fillOpacity: 0.2,

      goals: [0],

      goalStrokeWidth: 3,

      lineColors: ['#55b0d6'],

      ymin: Math.floor(Math.min(...array)),
      ymax: Math.ceil(Math.max(...array)),

      labels: ['Value']
    });
  }

  function refreshAt(hours, minutes, seconds) {
    var now = new Date();
    var then = new Date();

    if(now.getHours() > hours ||
       (now.getHours() == hours && now.getMinutes() > minutes) ||
        now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
        then.setDate(now.getDate() + 1);
    }
    then.setHours(hours);
    then.setMinutes(minutes);
    then.setSeconds(seconds);

    var timeout = (then.getTime() - now.getTime());
    setTimeout(function() { window.location.reload(true); }, timeout);
  }

  var hour = <%= @refreshing_time.hour%>;
  var minutes = <%= @refreshing_time.min%>;
  // var hour = time.getHours();
  refreshAt(hour,minutes,0);
</script>



