<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
         <div class="col-lg-4 col-sm-4">
                <div class="portfolio-box">
                    <%= image_tag "pnl_thumb.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Live P&L
                            </div>
                            <%= link_to "Subscribe now", new_subscriber_path, class: "btn btn-thumb btn-danger",data: { no_turbolink: true } %> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="portfolio-box">
                    <%= image_tag "futures_thumb.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VIX FUTURES
                            </div>
                            <%= link_to "Subscribe now", new_subscriber_path, class: "btn btn-thumb btn-danger",data: { no_turbolink: true } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="portfolio-box">
                    <%= image_tag "reco_thumb.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Recommandations
                            </div>
                            <%= link_to "Subscribe now", new_subscriber_path, class: "btn btn-thumb btn-danger",data: { no_turbolink: true } %>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

